/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: red;
  font-size: 25px;
}
.login  {
    border-radius: 25px;
    background: #2BC48A 0% 0% no-repeat padding-box;
    padding: 30px;
    height: 27px;
    margin: 5px;
    padding-right: 10px;
   
  }
  .signup  {
    
    background:#f3ede1;
    padding: 20px;
    margin: 5px;
   
  }
  .rectangle {
    padding: 20px;
    border-style: solid;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
    margin: 5px;
  }
  .submitbuttoncolor{
    color:#949494;
  }

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(255, 255, 255);
  color: #949494;
}
.topnav a.signup {
  background-color: rgb(255, 255, 255);
  color: #949494;;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  position: relative;
   color: #949494;
  
}
/* Body image properties */
.bg-img {
  /* The image used */
  background-image: url("../../../src/assets/image/bodycomponent.png");

  /* Control the height of the image */
  min-height: 780px;

  border-radius: 25px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* Add styles to the form transparent text */

.center {

  font-family: Arial;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;

  background: rgba(255, 255, 255, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.); /* Black background with 0.5 opacity */
  color: #f1f1f1;
}

.round {
  font-size: 20px;
  width: 100%;
  border-radius: 25px;
  border: 1px #000 solid;
  padding: 15px 15px 15px 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.corner {
 
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  z-index: 10;
  border-radius: 10px;
  border: none;
  background: url("../../../src/assets/image/search\ icon.png") /* Set the bg image here. with "no-repeat" */
}

.search {
  position: relative;
  width: 800px;
  height: 100px;
  font-family: Arial;
  font-size: 25px;
}

/* product by in photo */
.bottom-left {
  font-family: Arial;
  position: absolute;
  bottom: 35px;
  left: 45px;
  color: #f1f1f1;
  background: rgba(0, 0, 0, 0.);
}

/* Grid Image views*/
.container{
 
  column-count: 3;
  position: relative;
}

.img-class{
  width: 100%;
  margin-bottom: 1em;
}


.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;

}
/*load more button*/
.loadmore-container{
  position: relative;
}
.loadmore11{
  
  position: relative;
  bottom: 0px;
  left: 800px;
  width: 160px;
  height: 30px;
  border: 1px solid #2BC48A;
  background-color:#2BC48A;
  opacity: 1;
  display: flex;
}
.loadmore-bottom1{
  left: 800px;
  width: 160px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0px;
  color: #2BC48A;
 
  padding: 0;
  border: 0;
  background-color:white
}
.mouserover12{
  position: relative;
  cursor: pointer;
}


/*foooter css*/
  .footer1 {
    position: relative;
    left: 0;
    bottom:0;
    width: 100%;
    background: #192739 0% 0% no-repeat padding-box;
    color: white;
    border-radius: 20px;
    display: inline-table;
    top: 25px;   
 }
 .footer-col-container {
  display: table;
  width: 100%;
}
.footer-col {
  display: table-cell;
  padding: 50px 30px 30px 30px;
  margin: 30px 30px 30px 30px;
}
.footer-colomns {
  display: table-cell;
  padding: 50px 30px 30px 30px;
  margin: 30px 30px 30px 30px;
}
.footer-grid-item{
 
  position: relative;
  color: #C5C5C5;
  opacity: 1;
  text-align: left;
  font-size: 16px;  
  font: Light 22px/40px;
  letter-spacing: 0px;
  opacity: 1

}
.active1{
  font-size: 24px;
}

.margin{
  margin-top: 20px;

}
.margin1{
   border-radius: 25pt;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px; 

}
.margin2{
  font-size: 17px; 

}
.margin3{
  
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  float: right;
  font-size: 16px;  
  font: Light 22px/40px;
  letter-spacing: 0px;
  color: #C5C5C5;
  opacity: 1
  
  
}
.hrclass{
  border-radius: 25pt;
  margin-left: 25px;
  margin-right: 25px;
}

.image-container{
  position: relative;
}

/* Image over image profile */
.image-container .circle-round {
  bottom: 0px;
  position: absolute;
  padding: 40px;
  width: 60px;
  height: 60px;
}
.image-over-text{
  bottom: 0px;
  position: absolute;
  padding: 40px;
  height:15%;
  left: 85px;
  text-align: left;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0px;
  color: #FFFBFB;
  opacity: 1;
}
.downloan-image-icon {
  bottom: 50px;
  position: absolute;
  left: 500px;
  padding: 10px;
  height: 20px;  
  width: 22px;
  border-radius: 5px;
  background:#FFFBFB; ;
}

 .overlay {
  position: absolute; 
  bottom: 115px; 
  background: rgba(5, 5, 5, 0.2); 
  opacity:0; 
  left: 30px;
  width: 300px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 25px;
  font-size: 25px;
  padding: 80px;
  
}
.circle-round:hover .overlay {
  opacity: 0.9;
}

.image-container .circle-round1{
  bottom: 100px;
  position: relative;
  padding: 40px;
  width: 60px;
  height: 60px;
  left: -100px;
}
.m0r-im-over-text{
  bottom: 0px;
  position: absolute;
  padding: 40px;
  height:25%;
  left: 80px;
  text-align: left;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.m0r-im-over-text1{
  bottom: 0px;
  position: absolute;
  padding: 40px;
  height:1%;
  left: 80px;
  text-align: left;
  font-family: Arial;
  font-size: 16px;
  letter-spacing: 0px;
  color: #AFAFAF;
  opacity: 1;
}
.m0r-im-over-getintouch{
  bottom: 0px;
  position: absolute;
  padding: 30px 80px 20px 10px;
  width: 315px;
  height:1%;
  left: 25px;
  text-align: left;
  font-family: Arial;
  font-size: 18px;
  background: #2BC48A 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}
.GetIntouchButton{

  font-family: Arial;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #FFFBFB;
}


/* media quieries */


@media only screen and (max-width:1024px){
   .loadmore11 {
    left: 400px;
        } 
  .footer-col {  
     padding: 10px 5px 5px 5px;
    }
}

@media(max-width: 800px){
  .container{
      column-count: 2;
  }
  .loadmore11{
    left: 340px;
  }
  .footer-col{  
  display:block ;
 }
  .footer-col {
    text-align: center;
}
.footer-grid-item {
  
  text-align: center;
}

.margin3 {
  display: flex;
  justify-content: center;
  text-align: center;
}
}

@media only screen and (max-width: 768px) {
  .container{
    column-count: 1;
}
  .loadmore11{
    left: 1px;
  }
  .topnav-right1{
    top: 80px;
    left: 100px;
  }
  .center {
  top: 50%;
  width: 70%;
  left: 45%;
}
.round {
  width: 50%;
}
.corner {
  left: 380px;
}
.downloan-image-icon {
  left: 600px;
} 
   .overlay{
    left: 50px;
    width: 400px;
    height: 80px;

   }


}
@media only screen and (max-width: 1024px) {
  .image-container .circle-round {
    width: 50px;
    padding: 30px; 
  }
  .image-over-text {
    left: 50px;
  }
  .downloan-image-icon {
    left: 250px;
  }
  .overlay {
    left: 10px;
    width: 150px;
  }
  .m0r-im-over-getintouch {
    width: 180px;
  }

}












