.person {
    position: relative;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 25px;
    font-size: 25px;
}
.personround{
  position: relative;
    text-align: center;
    padding:2px;
    right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #2BC48A;
}
.personcolor{
    position: relative;
    font-size: 23px;
    text-align: center;
    padding:10px;
    bottom: 0px;
    top:18px;
    right: 10px;
    width: 40px;
    height: 40px;
}
.topnav-right1 {
    float: right;
    position: absolute;
     color: #949494;
     right: 10px;
     text-align: left;
     border: none;
     cursor: pointer;
    
  }
/* person name dropdown */
.dropbtn1 {
    position: relative;
    top: 18px;
    right: 10px;
    font-size:23px;
    text-align: left;
    border: none;
    cursor: pointer;  
}
.dropdown1 {
  position: relative;
  display: inline-block;
  text-align: center; 
}
.positionabsolute{
   
   
    position: absolute;
    
}
.dropdown-content1 {
    
  display:none;
  margin-top: 15px;
  font-size: 10px;
  position: relative;
  background-color: #f9f9f9;
  min-width: 30px;
  min-height: 210px;
  z-index: 1;
}
.forntsizedrop{
   height: 0px;
    font-size: 18px;
    position: relative;
}
.dropdown-content1 a {
  color: black;
  padding: 8px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
color: #949494;
}



/* media queries */



@media only screen and (max-width: 800px) {
  .image img {
    height: 400px;
  }
  .loadmore11{
    left: 350px;
  }
  .footer-col{  
  display:block ;
 }
  .footer-col {
    text-align: center;
}
.footer-grid-item {
  
  text-align: center;
}

.margin3 {
  display: flex;
  justify-content: center;
  text-align: center;
}
}

@media only screen and (max-width: 600px) {
  .loadmore11{
    left: 200px;
  }
  .topnav-right1{
    top: 80px;
    left: 100px;
  }
  .img-class {
    padding-top: 30px;
}
}
/* media quieries */


@media only screen and (max-width:1024px){
   .loadmore11 {
    left: 400px;
        } 
  .footer-col {  
     padding: 10px 5px 5px 5px;
    }
}

@media(max-width: 800px){
  .container{
      column-count: 2;
  }
  .loadmore11{
    left: 340px;
  }
  .footer-col{  
  display:block ;
 }
  .footer-col {
    text-align: center;
}
.footer-grid-item {
  
  text-align: center;
}

.margin3 {
  display: flex;
  justify-content: center;
  text-align: center;
}
}

@media only screen and (max-width: 768px) {
  .container{
    column-count: 1;
}
  .loadmore11{
    left: 1px;
  }
  .topnav-right1{
    top: 80px;
    left: 100px;
  }
  .center {
  top: 50%;
  width: 70%;
  left: 45%;
}
.round {
  width: 50%;
}
.corner {
  left: 380px;
}

.downloan-image-icon {
  left: 600px;
}
}
@media only screen and (max-width: 1024px) {
  .image-container .circle-round {
    width: 50px;
    padding: 30px; 
  }
  .image-over-text {
    left: 50px;
  }
  .downloan-image-icon {
    left: 250px;
  }
  .overlay {
    left: 10px;
    width: 150px;
  }
  .m0r-im-over-getintouch {
    width: 180px;
  }

}


