.div11{
    font-family: Arial;
    margin:30px ;
    position: absolute;
    height: 90vh;
    width: 90%;
    border: 1px #AFAFAF  solid;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .image1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image1 img {
    height: 700px;
    
    padding-left:0px;
    
  }

  form {
    margin-top: 20px;
    
  }
  .form12{
    padding-left: 80px;
    padding-right: 80px;
  }
  
  form .text2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin-top: 25px;
    width: 100%;
    border-bottom: 1px solid #AFAFAF;
    padding-left: 10px;
    font-size: 30px;
    color: #AFAFAF;
    margin-bottom: 5px;
  }
  
  span pre {
    float: right;
    padding-top:0px;
    text-align: left;
    font-size:22px;
    letter-spacing: 0px;
    color: #000000;;
    opacity: 1;
    
  }
  .pwscolor{
    color: #000000;
  }
  .hrefcolor{
    color:#2BC48A;
    }
form button {
  
  border: none;
  height: 65px;
  width: 100%;
  background-color: #2BC48A;
  border-radius: 50px;
  margin-bottom:20px;
  font-size: 30px;
  color: #FFFBFB;
}
.line1{
  border-bottom: 2px solid #AFAFAF;
  width: 80%;
  margin-left: 110px;

}


  @media only screen and (max-width: 1000px) {
    .grid1 {
      grid-template-columns: repeat(1, 1fr)
    }
  }
  @media only screen and (max-width: 680px) {
    .image1 img {
      height: 400px;
    }
    .line1 {
      margin-left: 50px;
    }
    .facebook {
    margin-bottom: 60px;
    }
  }
  @media only screen and (min-width: 1000px) {
    .image1 img {
      padding-left: 70px;
    }
    .form12{
      padding-left: 100px;
      padding-right: 100px;
    }

    .title{
      padding-left:10px;

    }
  }







