.personakshat{
    position: relative;
    top: 18px;
    right: 10px;
    font-size:23px;
}
.bodycontent1{
    position: absolute;
    margin:130px;
    width: 80%;
    height: 500px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 10px;
    opacity: 1;
    display: inline-table;
}
.personround1{ 
    position: relative;
    left: 45%;
    top: -80px;
    width: 30%;
    border-radius: 50%; 
    display: inline-block;
      
}
.textcenter1{
    position: relative;
    margin-top: 15px;
    right: 10px;
    text-align: left;
    font-size: 40px;
    letter-spacing: 0px;
    color:#000000;
    opacity: 1;
    display: flex;
}
 .textcolor21{
    display:flex;
    text-align: left;
    font-size: 40px;
    letter-spacing: 0px;
    color: #AFAFAF;  
}
.paragraph11{
    top: 10px;
}
.paragraph1{
    position: relative;
    padding-top:0px;
    bottom: 50px;
    font-size: 25px;
    text-align: center;
    font: Light 25px/30px Gotham Rounded;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.m0r-im-over-getintouch1 {
    bottom: 0px;
    position: absolute;
    padding: 30px 80px 20px 10px;
    width: 150px;
    left: 43%;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    background: #2BC48A 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.GetIntouchButton1 {
    font-family: Arial;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFBFB;
}

.container1 {
    position: relative;
    top:650px; 
}
.loadmoreheight{
    position: relative;
    top:650px;
}
.footerheight{
    position: relative;
    top:650px;
}
/* media queries */
@media only screen and (max-width: 1000px) {
    .bodycontent1 {
        height: 550px;
    }

   
  }
@media only screen and (min-width: 1000px) {
   
    .loadmoreheight {
        right: 5px;
    }
  }
@media only screen and (max-width: 800px) {
    .bodycontent1 {
       
        margin: 70px;
    }
    .image img {
        height: 400px;
      }
      .loadmore11{
        left: 350px;
      }
      .footer-col{  
      display:block ;
     }
      .footer-col {
        text-align: center;
    }
    .footer-grid-item {
      
      text-align: center;
    }
    .m0r-im-over-getintouch1 {
        
        left: 33%;
    }
    
    .margin3 {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  
  @media only screen and (max-width: 600px) {
    .loadmore11{
      left: 200px;
    }
    .topnav-right1{
      top: 80px;
      left: 100px;
    }
    .img-class {
     
      padding-top: 30px;
  }
  
  }