
.search12 {
  position: relative;
  width: 250px;
  left: 320px;
  top: 15px;
  height: 100px;
  font-family: Arial;
  font-size: 25px;
}
.center12 {
  font-family: Arial;
  margin: 0;
  position: absolute;
  top: 50px;
  transform: translate(-50%, -50%);
  background-color: white;
  background: rgba(255, 255, 255, 0);
  background: rgba(0, 0, 0, 0.);
  color: #f1f1f1;
}

.corner {
 
  position: absolute;
  top: 10px;
  right: 0px;
  height: 30px;
  width: 30px;
  z-index: 10;
  border-radius: 10px;
  border: none;
  background: url("../../../src/assets/image/search\ icon.png") /* Set the bg image here. with "no-repeat" */
}
.topnav1 {
  overflow: hidden;
 
}

.topnav1 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 50px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav1 a:hover {
  background-color: #ddd;
  color: black;
}

.topnav1 a.active {
 color: #000000;
 font-size: 50px;
 
}

.topnav-right {
  float: right;
}
.natureviews{
  padding-right: 150px;
  padding-top: 60px;
font-size: 25px;
text-align: left;
letter-spacing: 0px;
color: #949494;
opacity: 1;

}
.naturenew{ 
  margin-left: 60px;
  height: 50px;
  width: 120px;
  font-size: 25px;
  border: none;
background-color: #F1F1F1 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}

  @media only screen and (max-width: 1024px) {
   
    corner {
     
      right: 0px;
    }
  }
  @media only screen and (max-width: 600px) {
   
    .search12 {
     
      top: 45px;
     }
     .topnav-right1 {
      top: 110px;
    }
}