.gridmain12{
  width: 95%;
  top:20px;
  left:20px;
  position: relative;
  border: 1px #AFAFAF  solid;
  background: #FFFFFF 0% 0% no-repeat padding-box;   opacity: 1;
  
}

.grid1 {
  display: grid;
  grid-template-columns: 40% 57%;
  grid-gap: 5%;
  padding: 3%;
}

/* input form started */

.input-form1 {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.input-form1 img {
  width: 195px;
  height: 32px;
  align-self: center;
  margin-top: 20px;
}

.input-form1 .title {
  font-size: 40px;
  
  align-self: center;
  margin-top: 30px;
}

form {
  margin-top: 20px;
}

form .text1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin-top: 25px;
  width: 100%;
  border-bottom: 1px solid #AFAFAF;
  padding: 5px;
  font-size: 30px;
  color: #AFAFAF;
  margin-bottom: 5px;
}



.checkboxsign {
  top:2px;
display: block;
position: relative;
padding-left: 30px;

cursor: pointer;
font-size: 15px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
/* Hide the browser's default checkbox */
.checkboxsign input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}
/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 20px;
width: 20px;
background-color: #eee;
}
/* On mouse-over, add a grey background color */
.checkboxsign:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxsign input:checked ~ .checkmark {
background-color:#2BC48A;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkboxsign input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.checkboxsign .checkmark:after {
left: 7px;
top: 4px;
width: 4px;
height: 8px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.termcondition{

   position: relative;
   top: -18px;
   left: 78px;
   left:80px;
   text-align: left;
   font: lighter ;
   font-size:  15px; 
   letter-spacing: 0px;
   color: #000000;
   font: Light 40px/48px Gotham Rounded;
   opacity: 1;
 
}

form label {
  margin-left: 10px;
}

form button {
  
  border: none;
  height: 65px;
  width: 100%;
  background-color: #2BC48A;
  border-radius: 50px;
  margin-bottom:20px;
  font-size: 30px;
  color: #FFFBFB;
}

.login1 {
  margin-top: 20px;
  font-size: 25px;
  align-self: center;
}

.login1 span {
  color: #2BC48A;
}

.or-section {
  position: relative;
  margin-top: 40px;
}

.or-section .line {
  border-bottom: 2px solid #AFAFAF;
  width: 100%;
}

.or-section .or {
  position: absolute;
  top: -18px;
  font-size: 25px;
  width: 20%;
  background-color: #ffffff;
  z-index: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook {
  align-self: center;
  margin-top: 30px;
  font-size: 25px;
}

/* input form end */
/* image secion started */
.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  height: 700px;
  padding-bottom: 80px;
  
}

@media only screen and (max-width: 1024px) {
  .grid1 {
    grid-template-columns: repeat(1, 1fr)
  }
}

@media only screen and (max-width: 768px) {
  .image img {
    height: 400px;
  }
}

@media only screen and (max-width: 320px) {
  .input-form1 img {
    width: 130px;
    height: 21px;
  }

  .input-form1 .title {
    font-size: 25px;
  }

  form .text {
    font-size: 20px;
    width: 80%;
  }

  form label {
    margin-left: 10px;
  }

  form button {
    font-size: 20px;
  }

  .or-section .or {
    font-size: 18px;
  }

  .facebook {
    font-size: 18px;
  }

  .login1 {
    font-size: 18px;
  }
  .image img {
    height: 300px;
    padding-bottom: 60px;
  }
  
}
@media only screen and (max-width: 350px) {
  .image img {
    height: 200px;
  }
}