.divcolumn331 {
    float: left;
    width: 30.33%;
    padding-left: 50px;
    margin-left: 40px;
    height:450px;
}
.divcontainer3{
    box-sizing: border-box;
    margin-left: 10px;
  }

  .divrow3:after {
    left: 10px;
  
}
.divcolumn31{
    float: left;
    width: 28.33%;
    padding-left: 20px;
    margin: 10px;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
}
.basicinfo{
    text-align: left;
    font-size:25px;
    letter-spacing: 0px;
    color: #2BC48A;
    opacity: 1;
    text-decoration:none;
}
.divcolumn32{
    float: left;
    width: 28.33%;
    padding-left: 20px;
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;

}
.personround21 {
    position: relative;
    left:10px;
    width: 30%;
    border-radius: 50%;
    display: inline-block;
}
.textcenter21 {
    position: relative;
    margin-top: 10px;
    text-align: right;
    padding-right: 200px;
    font-size: 25px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    display: flex;
}
/* formcontainer */

  .formcontainer21{
    box-sizing: border-box;
  }
  .row11{
    content: "";
    display: table;
    clear: both;

  }
  label {
    padding: 0px 200px 10px 0px;
    display: inline-block;
    text-decoration: none;
  }
  .input21 {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
  }
  .col-25 {
    float: right;
    
    margin-top: 20px;
  }
  
  .col-75 {
    float: left;
    width: 400px;
    margin-top: 6px;
  }
  .texaretheight1{
    width: 400px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
      height:126px;
  }
  .updatesubmit{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    margin-left: 150px;
    border: none;
    font-size: 25px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  .updatesubmit:hover {
    background-color: #45a049;
  }
  .footerheight12{
    position: relative;
    top:0px;
}
@media only screen and (max-width: 768px) {
  .divcolumn31 {
    height: 200px;
  }
  .divcolumn32 {
    padding-left: 80px;
  }
}

  @media only screen and (max-width: 1024px) {
    .input21 {
      width: 80%;
    }
      .texaretheight1 {
        width: 100%;
      }
  }
 

 
@media only screen and (max-width: 768px) {
    .divcolumn31 {
      height: 200px;
    }
   
  }
  
    @media only screen and (max-width: 1024px) {
        .input21 {
            width: 90%;
        }
   
    }