.grid-container21 {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
  }
  .grid-item21 {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    width: 470px;
    margin-right: 30px;
    margin-left: 120px;
    height: 200px;
    text-align: center;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
    opacity: 1;
  }
  .insigntHeight{
    position: relative;
    top: 650px;
    left: 0px;
  }
  .footerheight1{
    position: relative;
    top:650px;
}
.center21{
    width: 775px;
    height: 60px;
    text-align: right;
    font-size: 25px;
    letter-spacing: 0px;
    color: #000000;
}
.view21{
    text-align: left;
    padding-left: 30px;
}
.view100{
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;

}


  @media only screen and (max-width: 1024px) {
    .bodycontent1 {
        height: 550px;
    }
    .footerheight1 {
        top: 730px;
    }
  .insigntHeight { 
    top: 700px;
}
.grid-item21 {
  
    width: 340px;
    margin-left: 120px;
    height: 150px;
}
.center21 {
    width: 600px;
}
}
   